body{
    background-color: #2c2c2c;
    min-height: 100vh;
    background-image: url("https://www.zdnet.com/a/img/resize/e2cf5a369485475eb562916de6169eb6a5e48a85/2022/02/16/dcea0eae-86e4-40d6-92c7-1f25e2d9ee0d/getty-hacker-hands-on-a-keyboard.jpg?width=1200&height=900&fit=crop&auto=webp");
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
}
form{
    padding:2% 0;
    border-radius: 10px;
    background-color: #fff;
}
.grupo{
    margin:35px;
}
input{
    background:none;
    padding:8px 8px 8px 4px;
    display:block;
    border: none;
    border-bottom: 1px solid #2c2c2c;
}
input:focus{
    outline: none;
}
button{
    display:block;
    margin:auto;
    background:#e60000;
    border: none;
    height:5vh;
    width: 70%;
}
