<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<body>
  <header class="header">
    <nav class="Barra">
      <img src="../../../assets/img/logo.png" class="img-fluid">
      <ul class="buttons">
        <li><a href="#" class="fa fa-facebook red1"></a></li>
        <li><a href="#" class="fa fa-twitter red2"></a></li>
        <li><a href="#" class="fa fa-instagram red3"></a></li>
        <li><a class="login" routerLink="login">Login!</a></li>
      </ul>
    </nav>
  </header>
</body>
