<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<body>
  <section class="Barra-header">
    <img src="../../../assets/img/logo.png" class="img-fluid">
    <div class="buttons">
      <a href="#" class="fa fa-facebook red1"></a>
      <a href="#" class="fa fa-twitter red2"></a>
      <a href="#" class="fa fa-instagram red3"></a>
      <a class="login" routerLink="login">Login!</a>
    </div>
  </section>

</body>
